apitoken.txt
opencitationsapitoken.txt
/markitdown/
/pandoc_quarto/
/quarto/
/tikz/
UBC_CV.aux
UBC_CV.blg
UBC_CV.fdb_latexmk
UBC_CV.fls
UBC_CV.log
UBC_CV.out
UBC_CV.syntex.gz
examplealtmet.json
makebst.log
